* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;

  /* COLORS */
  /* MAIN */
  --purple: #b218ff;
  --blue: #0081fb;
  --purple-50: #b218ff80;
  --blue-50: #0081fb80;
  /* BACKGROUND */
  --background: #f5fafe;
  /* TEXT */
  --primary: #101010;
  --secondary: #4a4a4a;
  --black: #000000;
  --white: #ffffff;

  /* FONT-SIZE */
  --title: 64px;
  --subtitle: 24px;
  --text: 18px;
}

/* CSS RESET */
a {
  color: var(--primary);
  text-decoration: none;
}

/* MY OWN TAILWIND LOL */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jcenter {
  justify-content: center;
}

.jstart {
  justify-content: flex-start;
}

.jend {
  justify-content: flex-end;
}

.jbetween {
  justify-content: space-between;
}

.jaround {
  justify-content: space-around;
}

.acenter {
  align-items: center;
}

.astart {
  align-items: flex-start;
}

.aend {
  align-items: flex-end;
}

.container {
  width: 100%;
  height: auto;
  min-height: 20vh;
  padding: 20px 100px;
}

/* WELLCOME */
.wellcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  padding: 0px 80px;
}

.logo {
  height: 150%;
  padding: 0px 20px;
}

.menu {
  width: auto;
}

.menu ul {
  width: auto;
  gap: 3;
  list-style: none;
}

.menu ul li {
  padding: 0px 20px;
}

.menu ul li a {
  color: var(--primary);
  text-decoration: none;

  font-weight: 600;
  transition: 0.2s ease-in;
}

.menu ul li a:hover {
  color: var(--purple);
  background-clip: text;
  background: -webkit-linear-gradient(var(--purple), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

main {
  width: 100%;
  height: 100vh;
}

.banner {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  padding: 0px 100px;
}

.banner .text {
  width: 50%;
  height: 100%;
  gap: 30px;
}

.banner .text .title,
.cta .title {
  font-size: var(--title);
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 5%;
  color: var(--purple);
  background-clip: text;
  background: -webkit-linear-gradient(-205deg, var(--purple), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .text .description {
  font-size: var(--subtitle);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 2px;
  color: var(--secondary);
}

.frame {
  width: 50%;
  height: 100%;
}

.frame canvas {
  min-height: 1000px;
  background-color: red;
}

/* CARDS */
.card {
  width: 100%;
  height: auto;
  padding: 0px 20px;
  color: var(--blue);
}

.card:nth-child(2) {
  color: var(--purple);
}

.title {
  font-size: var(--subtitle);
  margin-bottom: 20px;
  text-wrap: wrap;
  max-width: 90%;
}

.card .title {
  margin-left: 10px;
}

.card ion-icon {
  font-size: 30px;
}

.description {
  color: var(--secondary);
  font-size: var(--text);
}

/* CONTENT */
.content {
  width: 100%;
  min-height: 50vh;
  height: auto;
  margin: 80px 0px;
}

.content .building {
  width: 50%;
  height: 100%;
}

.content .img {
  width: 100% !important;
  height: 100% !important;
}

.content_block {
  width: 50%;
  height: 100%;
  text-align: left;
}
.content_block .title {
  margin-left: 0px;
  color: var(--purple);
  margin-bottom: 15px;
}

.content_block .description {
  margin-left: 0px;
}

.content_list {
  color: var(--purple);
  padding-left: 18px;
  margin-top: 30px;
  list-style: none;
}

.content_list li {
  padding: 10px 0px;
  font-size: 20px;
}

/* CAROUSEL */
.carousel {
  width: 100%;
  height: auto;
}

.carousel_box {
  width: 100%;
  padding: 0px 85px;
}

.carousel_item {
  width: 500px;
  padding: 0px 15px;
  border-radius: 0px;
}

/* CTA SECTION */
.cta {
  width: 100%;
  padding-top: 2%;
  min-height: 40vh;
}

.cta .title {
  width: 30%;
  text-align: center;
  font-size: calc(var(--subtitle) + 10px);
  margin-bottom: 40px;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
}

footer p {
  margin-bottom: 15px;
}

/* MOBILE */
@media (min-width: 200px) and (max-width: 500px) {
  .menu {
    display: none;
  }

  .container {
    padding: 0px;
    justify-content: center;
  }

  header {
    justify-content: center !important;
  }

  main {
    align-items: center;
  }

  .banner {
    flex-direction: column;
    min-height: 150vh;
    height: 100%;
    padding: 0px 0px;
    padding-top: 10%;
    margin-bottom: 50px;
  }
  .banner .text {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .banner .frame {
    margin: 50px 0px;
    height: 300%;
    width: 100%;
  }

  .frame canvas {
    width: 100% !important;
    height: 150%;
  }

  .text .title {
    font-size: 10px;
  }

  .cards {
    flex-direction: column;
  }
  .cards .container {
    flex-direction: column;
    gap: 50px;
  }

  .building {
    display: none;
  }

  .card {
    text-align: center;
    align-items: center;
  }

  .content_block {
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .carousel {
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel_box {
    padding: 0px;
  }

  .content {
    height: 100%;
    min-height: 70vh;
  }

  .cta {
    min-height: 40vh;
  }

  .cta .title {
    width: 100%;
  }

  footer {
    width: 100%;
    padding: 0px 10px;
    text-align: center;
    justify-content: center;
  }
}
